language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

branches:
  except:
    - /^analysis-.*$/
    - /^patch-.*$/

php:
    - 5.6
    - 7.0
    - 7.1

env:
    - SYMFONY_VERSION=3.2.* TEST_COMMAND="composer test"

matrix:
  fast_finish: true
  include:
    - php: 5.6
      env: COMPOSER_FLAGS="--prefer-stable --prefer-lowest" COVERAGE=true TEST_COMMAND="composer test-ci" SYMFONY_VERSION=2.7.*
    - php: 7.1
      env: SYMFONY_VERSION=2.8.*
    - php: hhvm
      env: SYMFONY_VERSION=2.2.*
      dist: trusty
    - php: 7.1
      env: SYMFONY_VERSION=3.3.*

install:
    - composer require symfony/symfony:${SYMFONY_VERSION} --no-update
    - travis_retry composer update ${COMPOSER_FLAGS} --prefer-dist --no-interaction

script:
    - $TEST_COMMAND

after_success:
    - if [[ $COVERAGE = true ]]; then wget https://scrutinizer-ci.com/ocular.phar; fi
    - if [[ $COVERAGE = true ]]; then php ocular.phar code-coverage:upload --format=php-clover build/coverage.xml; fi
